<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Alcoholics" data-toc-modified-id="Alcoholics-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Alcoholics</a></span></li><li><span><a href="#Employment" data-toc-modified-id="Employment-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Employment</a></span></li><li><span><a href="#Hearts" data-toc-modified-id="Hearts-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Hearts</a></span></li><li><span><a href="#Life-Goals" data-toc-modified-id="Life-Goals-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Life Goals</a></span></li><li><span><a href="#Social" data-toc-modified-id="Social-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Social</a></span></li><li><span><a href="#Smoking-Deaths-Among-Doctors" data-toc-modified-id="Smoking-Deaths-Among-Doctors-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Smoking Deaths Among Doctors</a></span></li><li><span><a href="#Doug-Score" data-toc-modified-id="Doug-Score-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Doug Score</a></span></li><li><span><a href="#Crashes" data-toc-modified-id="Crashes-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Crashes</a></span></li></ul></div>

## Alcoholics

https://www.statcrunch.com/5.0/viewreport.php?reportid=73650

**Description:** My group and I design a survey to find out among the adult who drinks , why they drink, their age, education level and how many drink they have per day. The data was gathered individually and put together into statcrunch by one member of the group. This survey shows the number of drinking adults and what motivate them to drink. Our survey question is below. 

1. Do you Drink Alcohol? Circle one: Y N 
2. What is your age?____years 
3. What is your gender? Circle one: Male Female 
4. Are you having an increasing number of A. Financial problems B. family problems C. Work problems D. Health problems E. Financial and family problems F financial, health and family problems G. Family and work problems H. Financial, Family, and work problems I. none of the above Circle one. 
5. How many drinks do you have a week?_____ drinks 
6. Education: What is the highest degree or level of school you have completed? If currently enrolled, mark the previous grade or highest degree received. A. No schooling completed B. Nursery school to 8th grade C. 9th, 10th or 11th grade D. 12th grade, no diploma E. High school graduate - high school diploma or the equivalent (for example: GED) F. Some college credit, but less than 1 year G. 1 or more years of college, no degree H. Associate degree (for example: AA, AS) I. Bachelor's degree (for example: BA, AB, BS) J. Master's degree (for example: MA, MS, MEng, MEd, MSW, MBA) K. Professional degree (for example: MD, DDS, DVM, LLB, JD) Circle one. 

----- Original Message ---- Sent on:Tuesday, May 22, 2012 11:46 PM Hi. It looks good. Change: 

- 2. What is your gender? Circle one: Male Female Other to2. What is your gender? Circle one: Male Female Other Since I do not think you will get someone answering as Other. 
- In #3, I forgot another option:3. Are you having an increasing number of A. Financial problems B. family problems C. Work problems D. Financial and family problems E. financial and family problems F. Family and work problems G. Financial, Family, and work problems H. none of the above Circle one.

In [1]:
alcoholics_df <- read.table("alcoholics.csv", header = TRUE, sep = ",")
head(alcoholics_df)

  Response.id Response Age Sex    G..Family.and.Work.Problems
1 87167       Yes      26  Male   I. None of the above
2 87168       Yes      30  Male   H. Financial, Family, and Work Problems
3 87169       Yes      39  Male   I. None of the above
4 87170       Yes      30  Male   I. None of the above
5 87171       Yes      40  Male   C. Work Problems
6 87176       Yes      40  Female I. None of the above
  No.of.drinks
1 20
2 48
3  3
4  2
5  1
6  1
  Education
1 C. 9th, 10th, or 11th grade
2 E. High School graduate- high school diploma or the equivalent (GED)
3 G. 1 or more years of College
4 H. Associates degree (for example: AA, AS)
5 G. 1 or more years of College
6 G. 1 or more years of College

## Employment

In [2]:
employment_df <- read.table("employment.csv", header = TRUE, sep = ",")
head(employment_df)

  College HiSchool
1 2.8     5.9
2 2.2     4.9
3 2.2     4.8
4 1.7     5.4
5 2.3     6.3
6 2.3     6.9

## Hearts

https://rdrr.io/cran/UsingR/man/normtemp.html

A data frame with 130 observations on the following 3 variables.

temperature

    normal body temperature
gender

    Gender 1 = male, 2 = female
hr

    Resting heart rate
    
Is normal body temperature 98.6 degrees Fahrenheit? This dataset was constructed to match data presented in an are article intending to establish the true value of “normal” body temperature.

In [3]:
hearts_df <- read.table("hearts.csv", header = TRUE, sep = ",")
head(hearts_df)

  Gender Body.Temp Heart.Rate
1 Male   96.3      70
2 Male   96.7      71
3 Male   96.9      74
4 Male   97.0      80
5 Male   97.1      73
6 Male   97.1      75

In [4]:
dim(hearts_df)

[1] 130   3

## Life Goals

https://www.statcrunch.com/app/index.php?dataid=339273

Subjects were students in grades 4-6 from three school districts in Ingham and Clinton Counties, Michigan. Chase and Dummer stratified their sample, selecting students from urban, suburban, and rural school districts with approximately 1/3 of their sample coming from each district. Students indicated whether good grades, athletic ability, or popularity was most important to them. They also ranked four factors: grades, sports, looks, and money, in order of their importance for popularity. The questionnaire also asked for gender, grade level, and other demographic information. Number of cases: 478 Variable Names: Gender: Boy or girl Grade: 4, 5 or 6 Age: Age in years Race: White, Other Urban/Rural: Rural, Suburban, or Urban school district School: Brentwood Elementary, Brentwood Middle, Ridge, Sand, Eureka, Brown, Main, Portage, Westdale Middle Goals: Student's choice in the personal goals question where options were 1 = Make Good Grades, 2 = Be Popular, 3 = Be Good in Sports Grades: Rank of "make good grades" (1=most important for popularity, 4=least important) Sports: Rank of "being good at sports" (1=most important for popularity, 4=least important) Looks: Rank of "being handsome or pretty" (1=most important for popularity, 4=least important) Money: Rank of "having lots of money" (1=most important for popularity, 4=least important)

In [5]:
goals_df <- read.table("life_goals.csv", header = TRUE, sep = ",")
head(goals_df)

  Gender Grade Age Race  Urban.Rural School Goals   Grades Sports Looks Money
1 boy    5     11  White Rural       Elm    Sports  1      2      4     3
2 boy    5     10  White Rural       Elm    Popular 2      1      4     3
3 girl   5     11  White Rural       Elm    Popular 4      3      1     2
4 girl   5     11  White Rural       Elm    Popular 2      3      4     1
5 girl   5     10  White Rural       Elm    Popular 4      2      1     3
6 girl   5     11  White Rural       Elm    Popular 4      2      1     3

In [6]:
unique(goals_df$School)

[1] Elm                  Brentwood Elementary Brentwood Middle
[4] Ridge                Sand                 Brown Middle
[7] Main                 Portage              Westdale Middle
9 Levels: Brentwood Elementary Brentwood Middle Brown Middle Elm ... Westdale Middle

## Social

https://www.statcrunch.com/app/index.php?dataid=2412748

Respondents provided their most used social media application (Media App), how many minutes they spent on social media per day (Time spent), the number of times they visited social media per day (Visits per day), the number of posts they make per week (Posts per week), their gender (Gender), and their age (Age).

In [7]:
social_df <- read.table("social.csv", header = TRUE, sep = ",")
head(social_df)

  Response_id Age Gender Media.app Media.app.Other Time.spent Times.per.day
1 655696      62  Male   Facebook                   10         1.0
2 655698       4  Female Facebook                    1         1.0
3 655708      25  Female Facebook                   40         5.0
4 655715      19  Male   Facebook                    5         0.1
5 655717      20  Female Twitter                   120        20.0
6 655719      17  Male   Twitter                    60         8.0
  Posts
1 1
2 1
3 1
4 0
5 7
6 1

## Smoking Deaths Among Doctors

https://vincentarelbundock.github.io/Rdatasets/doc/boot/breslow.html

In 1961 Doll and Hill sent out a questionnaire to all men on the British Medical Register enquiring about their smoking habits. Almost 70% of such men replied. Death certificates were obtained for medical practitioners and causes of death were assigned on the basis of these certificates. The breslow data set contains the person-years of observations and deaths from coronary artery disease accumulated during the first ten years of the study.

In [9]:
breslow_df <- read.table("breslow.csv", header = TRUE, sep = ",")
head(breslow_df)

  X age smoke n     y  ns
1 1 40  0     18790  2     0
2 2 50  0     10673 12     0
3 3 60  0      5710 28     0
4 4 70  0      2585 28     0
5 5 80  0      1462 31     0
6 6 40  1     52407 32 52407

## Doug Score

https://docs.google.com/spreadsheets/d/1KTArYwDWrn52fnc7B12KvjRb6nmcEaU6gXYehWfsZSo/edit#gid=0

http://www.dougdemuro.com/uncategorized/welcome-to-the-dougscore/

https://dougscore.netlify.com/

https://www.fueleconomy.gov/feg/ws/index.shtml

In [1]:
dscore_df <- read.table("doug_score.csv", header = TRUE, sep = ",")
head(dscore_df)

  Year Make          Model          Styling Acceleration Handling Fun.Factor
1 2018 Bugatti       Chiron         9       10            9       10
2 2018 Mercedes-Benz E63S AMG Wagon 7        9            6        7
3 2015 Porsche       918 Spyder     8       10           10       10
4 2018 Ferrari       812 Superfast  8       10            9        9
5 2018 Porsche       911 GT2RS      7       10           10       10
6 2015 Ferrari       F12 Berlinetta 8        9            9        9
  Cool.Factor WTOTAL Features Comfort Quality Practicality Value DTOTAL
1 10          48     6        5       7       1            6     25
2  6          35     9        7       7       8            6     37
3 10          48     6        3       8       1            6     24
4  8          44     6        5       8       3            6     28
5  9          46     6        3       8       2            6     25
6  8          43     6        5       7       3            7     28
  DOUGSCORE Video.Length Filming.Location Filming.State.Country Vehicle.Country
1 73        35:06        Toronto          Ontario               France
2 72        27:19        Hunt Valley      Maryland              Germany
3 72        29:49        Franklin         Tennessee             Germany
4 72        25:18        Los Angeles      California            Italy
5 71        21:30        Redwood City     California            Germany
6 71        20:00        San Diego        California            Italy

In [23]:
ger_cars <- dscore_df[dscore_df$Vehicle.Country == "Germany",]
head(ger_cars)

  Year Make          Model          Styling Acceleration Handling Fun.Factor
1 2018 Mercedes-Benz E63S AMG Wagon 7        9            6        7
2 2015 Porsche       918 Spyder     8       10           10       10
3 2018 BMW           M5             7       10            7        7
5 2005 Porsche       Carrera GT     9        9           10       10
7 2014 Audi          RS7            7        8            6        7
9 2018 BMW           M760i          6        8            6        5
  Cool.Factor WTOTAL Features Comfort Quality Practicality Value DTOTAL
1  6          35     9        7       7       8            6     37
2 10          48     6        3       8       1            6     24
3  6          37     9        7       7       5            6     34
5 10          48     3        3       9       1            7     23
7  6          34     7        7       8       8            6     36
9  6          31     9        9       8       6            6     38
  DOUGSCORE Filming.Location Filming.State.Country Vehicle.Country
1 72        Hunt Valley      Maryland              Germany
2 72        Franklin         Tennessee             Germany
3 71        Santa Ana        California            Germany
5 71        Beachwood        Ohio                  Germany
7 70        King of Prussia  Pennsylvania          Germany
9 69        Devon            Pennsylvania          Germany

In [25]:
other_cars <- dscore_df[dscore_df$Vehicle.Country != "Germany",]
head(other_cars)

   Year Make        Model      Styling Acceleration Handling Fun.Factor
4  2015 Lamborghini Huracan    8       10            9        9
6  2016 Ferrari     488 Spider 9        9            9        9
8  2017 McLaren     720S       8       10            9        9
11 2017 Ford        GT         8       10           10       10
12 2015 McLaren     650S       7       10            9        9
14 2018 Rolls-Royce Phantom    6        5            5        6
   Cool.Factor WTOTAL Features Comfort Quality Practicality Value DTOTAL
4   8          44     6         4      8       2            7     27
6   8          44     6         4      8       3            6     27
8   8          44     6         4      7       2            6     25
11 10          48     5         2      6       1            6     20
12  7          42     6         4      6       3            7     26
14  8          30     9        10      9       5            5     38
   DOUGSCORE Filming.Location Filming.State.Country Vehicle.Country
4  71        Alpharetta       Georgia               Italy
6  71        Colts Neck       New Jersey            Italy
8  69        West Chester     Pennsylvania          UK
11 68        Tooele           Utah                  USA
12 68        Tysons Corner    Virginia              UK
14 68        La Jolla         California            UK

In [36]:
t.test(ger_cars$WTOTAL, other_cars$WTOTAL, alternative = "greater")

	Welch Two Sample t-test

data:  ger_cars$WTOTAL and other_cars$WTOTAL
t = 2.5677, df = 86.969, p-value = 0.005973
alternative hypothesis: true difference in means is greater than 0
95 percent confidence interval:
 1.461165      Inf
sample estimates:
mean of x mean of y
   32.225    28.080

## Crashes

https://catalog.data.gov/dataset/motor-vehicle-crashes-vehicle-information-beginning-2009

Attributes about each vehicle involved in a crash as reported to NYS DMV.

https://www.kaggle.com/c/acquire-valued-shoppers-challenge/discussion/9507

https://www.rdocumentation.org/packages/base/versions/3.5.1/topics/scan

In [5]:
crashes_df <- read.table(
    "crashes.csv"
    , header = TRUE
    , sep = ","
    , quote = '"'
    , nrows = 100000
)
head(crashes_df)

  Year Case.Vehicle.ID Vehicle.Body.Type Registration.Class
1 2016 13364291        SUBURBAN          PASSENGER OR SUBURBAN
2 2016 13364304        PICKUP TRUCK      PASSENGER OR SUBURBAN
3 2016 13364305        4 DOOR SEDAN      PASSENGER OR SUBURBAN
4 2016 13364307        SUBURBAN          PASSENGER OR SUBURBAN
5 2016 13364306        SUBURBAN          PASSENGER OR SUBURBAN
6 2016 13364313        4 DOOR SEDAN      PASSENGER OR SUBURBAN
  Action.Prior.to.Accident Type...Axles.of.Truck.or.Bus Direction.of.Travel
1 Changing Lanes           Not Entered                  West
2 Going Straight Ahead     Not Entered                  East
3 Going Straight Ahead     Not Entered                  North
4 Going Straight Ahead     Not Entered                  North
5 Going Straight Ahead     Not Entered                  North
6 Parked                   Not Entered                  North
  Fuel.Type Vehicle.Year State.of.Registration Number.of.Occupants
1 Gas       2012         NY                    1
2 Gas       2014         NY                    2
3 Gas       2007         NY                    1
4 Gas       2011         NY                    4
5 Gas       2004         NY                    1
6 Gas       2014         NY                    0
  Engine.Cylinders Vehicle.Make Contributing.Factor.1
1 4                MINI         HUMAN
2 6                CHEVR        ENVMT
3 4                HONDA        ENVMT
4 4                CHEVR        ENVMT
5 6                BUICK        ENVMT
6 4                BMW          HUMAN
  Contributing.Factor.1.Description Contributing.Factor.2
1 Unsafe Lane Changing              HUMAN
2 Pavement Slippery                 HUMAN
3 Pavement Slippery                 HUMAN
4 Pavement Slippery                 ENVMT
5 Pavement Slippery                 HUMAN
6 Not Applicable                    HUMAN
  Contributing.Factor.2.Description
1 Not Applicable
2 Not Applicable
3 Not Applicable
4 Obstruction/ Debris
5 Not Applicable
6 Not Applicable
  Event.Type                                   Partial.VIN
1 Not Applicable                               WMWZC3C57CWL81108
2 Not Applicable                               3GCUKREH8EG196335
3 Not Applicable                               1HGCM56387A220086
4 Unknown                                      2CNFLCEC1B6362978
5 Snow Embankment, Collision With Fixed Object 3G5DA03E04S597761
6 Not Applicable                               WBA3B5C51EP543896

In [14]:
sort(levels(crashes_df$Event.Type))

 [1] ""
 [2] "Animal, Collision With"
 [3] "Barrier, Collision With Fixed Object"
 [4] "Bicyclist, Collision With"
 [5] "Bridge Structure, Collision With Fixed Object"
 [6] "Building/Wall, Collision With Fixed Object"
 [7] "Crash Cushion, Collision With Fixed Object"
 [8] "Culver/Head Wall, Collision With Fixed Object"
 [9] "Curbing, Collision With Fixed Object"
[10] "Deer"
[11] "Earth Embankment/Rock Cut/Ditch, Collision With Fixed Object"
[12] "Fence, Collision With Fixed Object"
[13] "Fire Hydrant, Collision With Fixed Object"
[14] "Fire/Explosion, Non-Collision"
[15] "Guide Rail - End, Collision With Fixed Object"
[16] "Guide Rail - Not At End, Collision With Fixed Object"
[17] "In-Line Skater, Collision With"
[18] "Light Support/Utility Pole, Collision With Fixed Object"
[19] "Median - End, Collision With Fixed Object"
[20] "Median - Not At End, Collision With Fixed Object"
[21] "Not Applicable"
[22] "Not Entered"
[23] "Other Fixed Object*, Collision With Fixed Object"
[24] "Other Motor Vehicle, Collision With"
[25] "Other Object (Not Fixed)*, Collision With"
[26] "Other Pedestrian"
[27] "Other*, Non-Collision"
[28] "Overturned, Non-Collision"
[29] "Pedestrian, Collision With"
[30] "Railroad Train, Collision With"
[31] "Ran Off Roadway Only, Non-Collision"
[32] "Sign Post, Collision With Fixed Object"
[33] "Snow Embankment, Collision With Fixed Object"
[34] "Submersion, Non-Collision"
[35] "Tree, Collision With Fixed Object"
[36] "Unknown"

https://www.rdocumentation.org/packages/parallel/versions/3.5.1/topics/clusterApply

In [22]:
parse_event_type <- function(row, NA_strings = c(",", "", "Unknown", "Not Applicable")) {
    row_split <- strsplit(as.character(row), ",")[[1]]
    object <- NA
    event <- NA
    if (length(row_split) == 2) {
        object <- row_split[1]
        event <- row_split[2]
    } else if (length(row_split) == 1) {
        object <- row_split[1]
    }
    
    if (object %in% NA_strings) {
        object <- NA
    }
    
    return(list(
        object
        , event
    ))
} 

parsed_list <- sapply(crashes_df$Event.Type, parse_event_type)
head(parsed_list)

     [,1] [,2] [,3] [,4] [,5]                         [,6] [,7] [,8] [,9] [,10]
[1,] NA   NA   NA   NA   Snow Embankment              NA   NA   NA   NA   NA
[2,] NA   NA   NA   NA    Collision With Fixed Object NA   NA   NA   NA   NA
     [,11] [,12]       [,13]       [,14]       [,15]       [,16]
[1,] ⋯     Not Entered Not Entered Not Entered Not Entered Not Entered
[2,] ⋯     NA          NA          NA          NA          NA
     [,17]       [,18]       [,19] [,20] [,21]
[1,] Not Entered Not Entered NA    NA    Overturned
[2,] NA          NA          NA    NA     Non-Collision

In [36]:
parsed_list_t <- t(parsed_list)
colnames(parsed_list_t) <- c("Object", "Event")
head(parsed_list_t)

ERROR: Error in `colnames<-`(`*tmp*`, value = c("Object", "Event")): length of 'dimnames' [2] not equal to array extent