<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# International Movie Database

1. Zobrazte deset nejlépe hodnocených filmů (sloupec `rating`).
2. Zobrazte deset nejlépe hodnocených filmů, které mají alespoň 5000 hodnocení (sloupec `votes`).
3. Přidejte do tabulky nový sloupec `GenreCount`, který bude označovat, do kolika žánrů najednou film patří.
4. Ve kterém roce se natočilo nejvíce dokumentárních filmů?
5. Zobrazte tři nejlépe hodnocené filmy pro každý žánr. Uložte jako seznam (`list`), kde klíč je název žánru a hodnota je vektor jmen těchto filmů.
6. Spočítejte průměrná hodnocení filmů v jednotlivých žánrech. Jsou komedie v průměru lépe hodnocené než akční filmy? Zkusíte navrhnout a provést statistický test?
7. Najděte tři nejlepší romantické komedie v každém desetiletí.

In [5]:
df_imdb <- read.table('imdb.csv', sep=';', header = T)
head(df_imdb)

  var1 title                    year length budget rating votes r1   r2   r3  ⋯
1 1    $                        1971 121    NA     6.4    348    4.5  4.5 4.5 ⋯
2 2    $1000 a Touchdown        1939  71    NA     6.0     20    0.0 14.5 4.5 ⋯
3 3    $21 a Day Once a Month   1941   7    NA     8.2      5    0.0  0.0 0.0 ⋯
4 4    40000                    1996  70    NA     8.2      6   14.5  0.0 0.0 ⋯
5 5    $50,000 Climax Show, The 1975  71    NA     3.4     17   24.5  4.5 0.0 ⋯
6 6    $pent                    2000  91    NA     4.3     45    4.5  4.5 4.5 ⋯
  r9   r10  mpaa Action Animation Comedy Drama Documentary Romance Short
1  4.5  4.5      0      0         1      1     0           0       0
2  4.5 14.5      0      0         1      0     0           0       0
3 24.5 24.5      0      1         0      0     0           0       1
4 34.5 45.5      0      0         1      0     0           0       0
5  0.0 24.5      0      0         0      0     0           0       0
6 14.5 14.5      0      0         0      1     0           0       0