<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Top-Ten" data-toc-modified-id="Top-Ten-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Top Ten</a></span></li><li><span><a href="#Popular-Top-Ten" data-toc-modified-id="Popular-Top-Ten-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Popular Top Ten</a></span></li><li><span><a href="#GenreCount" data-toc-modified-id="GenreCount-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>GenreCount</a></span></li><li><span><a href="#Documentary-Galore" data-toc-modified-id="Documentary-Galore-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Documentary Galore</a></span></li><li><span><a href="#Top-Three-Per-Genre" data-toc-modified-id="Top-Three-Per-Genre-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Top Three Per Genre</a></span></li><li><span><a href="#Genre-Averages" data-toc-modified-id="Genre-Averages-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Genre Averages</a></span></li><li><span><a href="#Romantic-Comedy-by-Decades" data-toc-modified-id="Romantic-Comedy-by-Decades-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Romantic Comedy by Decades</a></span></li></ul></div>

# International Movie Database

Data o 58,786 filmech do roku 2005.

In [1]:
df_imdb <- read.table('imdb.csv', sep=';', header = T)
head(df_imdb)

  var1 title                    year length budget rating votes r1   r2   r3
1 1    $                        1971 121    NA     6.4    348    4.5  4.5 4.5
2 2    $1000 a Touchdown        1939  71    NA     6.0     20    0.0 14.5 4.5
3 3    $21 a Day Once a Month   1941   7    NA     8.2      5    0.0  0.0 0.0
4 4    40000                    1996  70    NA     8.2      6   14.5  0.0 0.0
5 5    $50,000 Climax Show, The 1975  71    NA     3.4     17   24.5  4.5 0.0
6 6    $pent                    2000  91    NA     4.3     45    4.5  4.5 4.5
  ... r9   r10  mpaa Action Animation Comedy Drama Documentary Romance Short
1 ...  4.5  4.5      0      0         1      1     0           0       0
2 ...  4.5 14.5      0      0         1      0     0           0       0
3 ... 24.5 24.5      0      1         0      0     0           0       1
4 ... 34.5 45.5      0      0         1      0     0           0       0
5 ...  0.0 24.5      0      0         0      0     0           0       0
6 ... 14.5 14.5      0      0         0      1     0           0       0

In [2]:
df_imdb$var1 <- NULL

## Top Ten

Zobrazte deset nejlépe hodnocených filmů (sloupec `rating`).

In [10]:
head(
    df_imdb[order(df_imdb$rating, decreasing = T),],
    10
)

      title                                   year length budget rating votes
13907 Dimensia Minds Trilogy: The Hope Factor 2004 10       NA   10.0    5
18015 Fishing for Love                        2001  7       NA   10.0    5
49844 Summer Sonata, A                        2004 30     2000   10.0    5
5898  Black Canyon                            2004 25     3000    9.9    9
7711  Buck Privates                           1928 70       NA    9.9    7
13170 Defilada                                1989 60       NA    9.9    8
13908 Dimensia Minds Trilogy: The Reds        2004  8     1200    9.9   15
15018 Drifting                                2004 21     3000    9.9   41
15658 Ekdromi, I                              1966 85       NA    9.9    7
19825 Genet parle d'Angela Davis              1970 10       NA    9.9    7
      r1 r2  r3  r4 ... r9   r10   mpaa Action Animation Comedy Drama
13907 0  0.0 0.0 0  ...  0.0 100.0      0      0         0      0
18015 0  0.0 0.0 0  ...  0.0 100.0      0      0         1      0
49844 0  0.0 0.0 0  ...  0.0 100.0      0      0         0      1
5898  0  0.0 0.0 0  ... 14.5  84.5      0      0         0      0
7711  0  0.0 0.0 0  ... 14.5  84.5      0      0         1      0
13170 0  0.0 0.0 0  ... 14.5  84.5      0      0         0      0
13908 0  0.0 0.0 0  ... 14.5  84.5      0      0         0      0
15018 0  4.5 4.5 0  ...  0.0  94.5      0      0         0      1
15658 0  0.0 0.0 0  ... 14.5  84.5      0      0         0      1
19825 0  0.0 0.0 0  ... 24.5  74.5      0      0         0      0
      Documentary Romance Short
13907 0           0       1
18015 0           0       1
49844 0           0       1
5898  0           0       1
7711  0           0       0
13170 1           0       0
13908 0           0       1
15018 0           0       1
15658 0           1       0
19825 0           0       1

## Popular Top Ten

Zobrazte deset nejlépe hodnocených filmů, které mají alespoň 5000 hodnocení (sloupec `votes`).

In [11]:
mask <- df_imdb$votes >= 5000
df_imdb_popular <- df_imdb[mask,]

head(
    df_imdb_popular[order(df_imdb_popular$rating, decreasing = T),],
    10
)

      title                                              year length budget
20544 Godfather, The                                     1972 175     6000000
46267 Shawshank Redemption, The                          1994 142    25000000
30657 Lord of the Rings: The Return of the King, The     2003 251    94000000
20545 Godfather: Part II, The                            1974 200    13000000
46406 Shichinin no samurai                               1954 206      500000
7897  Buono, il brutto, il cattivo, Il                   1966 180     1200000
8882  Casablanca                                         1942 102      950000
30656 Lord of the Rings: The Fellowship of the Ring, The 2001 208    93000000
30658 Lord of the Rings: The Two Towers, The             2002 223    94000000
41660 Pulp Fiction                                       1994 168     8000000
      rating votes  r1  r2  r3  r4  ... r9   r10  mpaa  Action Animation Comedy
20544 9.1    122755 4.5 4.5 4.5 4.5 ... 14.5 45.5       0      0         0
46267 9.1    149494 4.5 4.5 4.5 4.5 ... 24.5 45.5 R     0      0         0
30657 9.0    103631 4.5 4.5 4.5 4.5 ... 14.5 64.5 PG-13 1      0         0
20545 8.9     71363 4.5 4.5 4.5 4.5 ... 24.5 44.5       0      0         0
46406 8.9     32141 4.5 4.5 4.5 4.5 ... 14.5 45.5       1      0         0
7897  8.8     30224 4.5 4.5 4.5 4.5 ... 24.5 44.5       1      0         0
8882  8.8     66030 4.5 4.5 4.5 4.5 ... 24.5 44.5       0      0         0
30656 8.8    157608 4.5 4.5 4.5 4.5 ... 14.5 45.5 PG-13 1      0         0
30658 8.8    114797 4.5 4.5 4.5 4.5 ... 24.5 44.5 PG-13 1      0         0
41660 8.8    132745 4.5 4.5 4.5 4.5 ... 24.5 44.5 R     0      0         0
      Drama Documentary Romance Short
20544 1     0           0       0
46267 1     0           0       0
30657 0     0           0       0
20545 1     0           0       0
46406 1     0           0       0
7897  1     0           0       0
8882  1     0           1       0
30656 0     0           0       0
30658 0     0           0       0
41660 1     0           0       0

## GenreCount

Přidejte do tabulky nový sloupec `GenreCount`, který bude označovat, do kolika žánrů najednou film patří.

In [3]:
genres <- c(
    "Action",
    "Animation",
    "Comedy",
    "Drama",
    "Documentary",
    "Romance",
    "Short"
)

genres

[1] "Action"      "Animation"   "Comedy"      "Drama"       "Documentary"
[6] "Romance"     "Short"

In [13]:
genre_count <- rep(0, nrow(df_imdb))
for (genre in genres) {
    genre_count <- genre_count + df_imdb[[genre]]
}
df_imdb$GenreCount <- genre_count

head(df_imdb)

  title                    year length budget rating votes r1   r2   r3  r4
1 $                        1971 121    NA     6.4    348    4.5  4.5 4.5  4.5
2 $1000 a Touchdown        1939  71    NA     6.0     20    0.0 14.5 4.5 24.5
3 $21 a Day Once a Month   1941   7    NA     8.2      5    0.0  0.0 0.0  0.0
4 40000                    1996  70    NA     8.2      6   14.5  0.0 0.0  0.0
5 $50,000 Climax Show, The 1975  71    NA     3.4     17   24.5  4.5 0.0 14.5
6 $pent                    2000  91    NA     4.3     45    4.5  4.5 4.5 14.5
  ... r10  mpaa Action Animation Comedy Drama Documentary Romance Short
1 ...  4.5      0      0         1      1     0           0       0
2 ... 14.5      0      0         1      0     0           0       0
3 ... 24.5      0      1         0      0     0           0       1
4 ... 45.5      0      0         1      0     0           0       0
5 ... 24.5      0      0         0      0     0           0       0
6 ... 14.5      0      0         0      1     0           0       0
  GenreCount
1 2
2 1
3 2
4 1
5 0
6 1

In [4]:
head(rowSums(df_imdb[genres]))

[1] 2 1 2 1 0 1

## Documentary Galore

Ve kterém roce se natočilo nejvíce dokumentárních filmů? Kolik jich bylo? 

Na závěr zkuste ještě nějak přehledně v jedné tabulce zobrazit informaci o natočených filmech všech žánrů pro každý rok.

In [6]:
df_imdb_docs <- df_imdb[df_imdb$Documentary == 1,]
head(df_imdb_docs)

    title                                            year length budget rating
8   '15'                                             2002  25    NA     6.7
18  'Bullitt': Steve McQueen's Commitment to Reality 1968  10    NA     6.6
50  'What's Your 'I.Q.'?' Number Two                 1940   9    NA     5.9
101 1 Giant Leap                                     2002 155    NA     6.6
104 1,99 - Um Supermercado Que Vende Palavras        2003  72    NA     4.9
107 1/2 Mensch                                       1986  48    NA     8.1
    votes r1  r2  r3   r4   ... r9   r10  mpaa Action Animation Comedy Drama
8   24    4.5 4.5  4.5  4.5 ...  4.5 14.5      0      0         0      0
18  37    0.0 0.0  4.5  4.5 ...  4.5  4.5      0      0         0      0
50   9    0.0 0.0 14.5 14.5 ... 14.5 14.5      0      0         0      0
101 75    4.5 4.5  0.0  4.5 ... 14.5 34.5      0      0         0      0
104 28    4.5 4.5  4.5  4.5 ...  4.5 14.5      0      0         1      0
107 29    4.5 0.0  0.0  0.0 ... 24.5 64.5      0      0         0      0
    Documentary Romance Short
8   1           0       1
18  1           0       1
50  1           0       1
101 1           0       0
104 1           0       0
107 1           0       0

In [7]:
nrow(df_imdb_docs)

[1] 3472

In [8]:
nrow(df_imdb)

[1] 58786

In [17]:
?tapply

In [11]:
counts <- tapply(
    df_imdb_docs$Documentary,
    df_imdb_docs$year,
    sum
)

sort(counts, decreasing = T)[1]

2003
 261

In [14]:
sort(summary(as.factor(df_imdb_docs$year)), decreasing = T)[1]

2003
 261

In [16]:
table(df_imdb$year, df_imdb$Documentary)[,2]

1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908
   0    5    2    7    6    1    4    5    9    2    8    4    2    4    0    1
1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924
   0    2    1    0    1    1    1    0    0    1    2    0    0    1    2    0
1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940
   2    2    2    4   11    7    5    6    7    7   13    4   10   11   10   16
1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956
  16   19   26   14   22   12    7   12    9   11   13   12   13   12   15   17
1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
  13   10   13   13   12   11   19   21   29   20   38   37   22   32   40   31
1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988
  24   27   36   38   24   39   27   33   31   40   31   45   45   31   49   42
1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004
  37   41   46   74   60   94   84   98  133  133  156  175  196  249  261  258
2005
  35

In [19]:
genre_stats <- aggregate(
    df_imdb[genres],
    list(
        year=df_imdb$year
    ),
    sum
)

head(genre_stats[order(genre_stats$year, decreasing = T),], 10)

    year Action Animation Comedy Drama Documentary Romance Short
113 2005  43    10        123    137    35          37      54
112 2004 147    56        597    805   258         169     480
111 2003 180    94        642    899   261         215     555
110 2002 176    81        591    929   249         245     533
109 2001 169    82        582    837   196         211     468
108 2000 154    89        561    793   175         207     449
107 1999 160    85        562    694   156         184     408
106 1998 144    61        451    634   133         160     279
105 1997 162    49        404    555   133         161     217
104 1996 159    52        352    493    98         127     194

## Top Three Per Genre

Zobrazte tři nejlépe hodnocené filmy pro každý žánr. Uložte jako seznam (`list`), kde klíč je název žánru a hodnota je vektor jmen těchto filmů.

**Bonus:** Omezte se pouze na filmy s alespoň 5,000 hodnoceními (`votes`) a přidejte jejich hodnocení (`rating`) do výstupu, který teď bude seznam objektů `data.frame`.

In [23]:
best_of_genres <- list()

for (genre in genres) {
    mask <- df_imdb[[genre]] == 1 & df_imdb$votes >= 5000
    genre_subset <- df_imdb[mask,]
    best_of_genres[[genre]] <- as.vector(genre_subset[order(genre_subset$rating, decreasing = T),'title'][1:3])
}

best_of_genres

$Action
[1] "Lord of the Rings: The Return of the King, The"
[2] "Shichinin no samurai"
[3] "Buono, il brutto, il cattivo, Il"

$Animation
[1] "Sen to Chihiro no kamikakushi"
[2] "Wallace & Gromit: The Wrong Trousers"
[3] "Finding Nemo"

$Comedy
[1] "Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb"
[2] "Eternal Sunshine of the Spotless Mind"
[3] "Bowling for Columbine"

$Drama
[1] "Godfather, The"            "Shawshank Redemption, The"
[3] "Godfather: Part II, The"

$Documentary
[1] "Bowling for Columbine" "Fahrenheit 9/11"       "Roger & Me"

$Romance
[1] "Casablanca"
[2] "Eternal Sunshine of the Spotless Mind"
[3] "It's a Wonderful Life"

$Short
[1] "Wallace & Gromit: The Wrong Trousers"
[2] "Wallace & Gromit: A Close Shave"
[3] "Wallace & Gromit: A Grand Day Out"

## Genre Averages

Spočítejte průměrná hodnocení filmů v jednotlivých žánrech. Jsou komedie v průměru lépe hodnocené než akční filmy? Zkusíte navrhnout a provést statistický test?

In [25]:
averages <- list()

for (genre in genres) {
    mask <- df_imdb[[genre]] == 1
    genre_subset <- df_imdb[mask,]
    averages[[genre]] <- round(mean(genre_subset$rating), 2)
}

averages

$Action
[1] 5.29

$Animation
[1] 6.58

$Comedy
[1] 5.96

$Drama
[1] 6.15

$Documentary
[1] 6.65

$Romance
[1] 6.16

$Short
[1] 6.48

In [27]:
genre_data <- list()

for (genre in genres) {
    mask <- df_imdb[[genre]] == 1
    genre_subset <- df_imdb[mask,]
    genre_data[[genre]] <- genre_subset$rating
}

t.test(genre_data$Documentary, genre_data$Romance, alternative = c("greater"))

	Welch Two Sample t-test

data:  genre_data$Documentary and genre_data$Romance
t = 14.516, df = 6434.7, p-value < 2.2e-16
alternative hypothesis: true difference in means is greater than 0
95 percent confidence interval:
 0.4314362       Inf
sample estimates:
mean of x mean of y
 6.650576  6.163997

## Romantic Comedy by Decades

Najděte tři nejlepší romantické komedie z každého desetiletí. Filmy v konečném pořadí musí mít alespoň 30 hodnocení.

**Bonus:** Upravte svůj kód tak, aby se dal aplikovat na jakýkoliv žánr (nebo mix žánrů). Vytvořte si funkci s patřičnými parametry.

In [30]:
head(df_imdb$year)

[1] 1971 1939 1941 1996 1975 2000

In [31]:
head(df_imdb$year) - (head(df_imdb$year) %% 10)

[1] 1970 1930 1940 1990 1970 2000

In [33]:
df_imdb['decade'] <- df_imdb$year - df_imdb$year %% 10

best_romcoms <- by(
    df_imdb,
    df_imdb$decade,
    function(imdb_decade) {
        mask <- imdb_decade$Comedy == 1 & imdb_decade$Romance == 1 & imdb_decade$votes >= 30
        romcoms <- imdb_decade[mask,]
        rating_order <- order(romcoms$rating, decreasing = T)
        romcoms[rating_order,][1:3,]
    }
)

best_romcoms

df_imdb$decade: 1890
     title year length budget rating votes r1 r2 r3 r4 r5 r6 r7 r8 r9 r10 mpaa
NA    <NA>   NA     NA     NA     NA    NA NA NA NA NA NA NA NA NA NA  NA <NA>
NA.1  <NA>   NA     NA     NA     NA    NA NA NA NA NA NA NA NA NA NA  NA <NA>
NA.2  <NA>   NA     NA     NA     NA    NA NA NA NA NA NA NA NA NA NA  NA <NA>
     Action Animation Comedy Drama Documentary Romance Short decade
NA       NA        NA     NA    NA          NA      NA    NA     NA
NA.1     NA        NA     NA    NA          NA      NA    NA     NA
NA.2     NA        NA     NA    NA          NA      NA    NA     NA
------------------------------------------------------------
df_imdb$decade: 1900
     title year length budget rating votes r1 r2 r3 r4 r5 r6 r7 r8 r9 r10 mpaa
NA    <NA>   NA     NA     NA     NA    NA NA NA NA NA NA NA NA NA NA  NA <NA>
NA.1  <NA>   NA     NA     NA     NA    NA NA NA NA NA NA NA NA NA NA  NA <NA>
NA.2  <NA>   NA     NA     NA     NA    NA NA NA NA NA NA NA NA NA NA  NA <NA>
     Action Animation Comedy Drama Documentary Romance Short decade
NA       NA        NA     NA    NA          NA      NA    NA     NA
NA.1     NA        NA     NA    NA          NA      NA    NA     NA
NA.2     NA        NA     NA    NA          NA      NA    NA     NA
------------------------------------------------------------
df_imdb$decade: 1910
     title year length budget rating votes r1 r2 r3 r4 r5 r6 r7 r8 r9 r10 mpaa
NA    <NA>   NA     NA     NA     NA    NA NA NA NA NA NA NA NA NA NA  NA <NA>
NA.1  <NA>   NA     NA     NA     NA    NA NA NA NA NA NA NA NA NA NA  NA <NA>
NA.2  <NA>   NA     NA     NA     NA    NA NA NA NA NA NA NA NA NA NA  NA <NA>
     Action Animation Comedy Drama Documentary Romance Short decade
NA       NA        NA     NA    NA          NA      NA    NA     NA
NA.1     NA        NA     NA    NA          NA      NA    NA     NA
NA.2     NA        NA     NA    NA          NA      NA    NA     NA
------------------------------------------------------------
df_imdb$decade: 1920
                 title year length budget rating votes  r1  r2  r3  r4  r5  r6
19809     General, The 1927     83     NA    8.4  6644 4.5 4.5 4.5 4.5 4.5 4.5
27646 Kid Brother, The 1927     84     NA    8.3   285 4.5 4.5 4.5 4.5 4.5 4.5
44422     Safety Last! 1923     70     NA    8.2   757 4.5 4.5 4.5 4.5 4.5 4.5
        r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
19809  4.5 14.5 24.5 34.5           1         0      1     0           0
27646 14.5 14.5 24.5 44.5           0         0      1     0           0
44422 14.5 24.5 24.5 34.5           1         0      1     0           0
      Romance Short decade
19809       1     0   1920
27646       1     0   1920
44422       1     0   1920
------------------------------------------------------------
df_imdb$decade: 1930
                      title year length  budget rating votes  r1  r2  r3  r4
10228           City Lights 1931     87 1500000    8.5  7802 4.5 4.5 4.5 4.5
25871 It Happened One Night 1934    105  325000    8.3  7924 4.5 4.5 4.5 4.5
7493       Bringing Up Baby 1938    102      NA    8.2  9250 4.5 4.5 4.5 4.5
       r5  r6   r7   r8   r9  r10 mpaa Action Animation Comedy Drama
10228 4.5 4.5  4.5 14.5 24.5 44.5           0         0      1     1
25871 4.5 4.5 14.5 24.5 24.5 34.5           0         0      1     0
7493  4.5 4.5 14.5 24.5 24.5 34.5           0         0      1     0
      Documentary Romance Short decade
10228           0       1     0   1930
25871           0       1     0   1930
7493            0       1     0   1930
------------------------------------------------------------
df_imdb$decade: 1940
                title year length budget rating votes  r1  r2  r3  r4  r5   r6
15948       Enamorada 1946     99     NA    8.4    49 0.0 0.0 0.0 0.0 4.5  4.5
17753 Film ohne Titel 1948     99     NA    8.2    38 0.0 0.0 0.0 0.0 0.0 14.5
23171 His Girl Friday 1940     92     NA    8.2  6667 4.5 4.5 4.5 4.5 4.5  4.5
        r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
15948 14.5 24.5  4.5 45.5           0         0      1     1           0
17753 14.5 34.5 14.5 24.5           0         0      1     0           0
23171 14.5 24.5 24.5 24.5           0         0      1     1           0
      Romance Short decade
15948       1     0   1940
17753       1     0   1940
23171       1     0   1940
------------------------------------------------------------
df_imdb$decade: 1950
                     title year length  budget rating votes  r1  r2  r3  r4  r5
14645 Dos tipos de cuidado 1953    123      NA    8.5    52 4.5 4.5 0.0 0.0 4.5
47033  Singin' in the Rain 1952    103 2540800    8.5 20585 4.5 4.5 4.5 4.5 4.5
47952     Some Like It Hot 1959    120 2883848    8.4 25369 4.5 4.5 4.5 4.5 4.5
       r6   r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
14645 4.5  4.5 24.5 14.5 44.5           0         0      1     0           0
47033 4.5 14.5 14.5 14.5 34.5           0         0      1     0           0
47952 4.5 14.5 24.5 24.5 34.5           0         0      1     0           0
      Romance Short decade
14645       1     0   1950
47033       1     0   1950
47952       1     0   1950
------------------------------------------------------------
df_imdb$decade: 1960
                      title year length budget rating votes  r1 r2  r3  r4  r5
13598              Devchata 1961     98     NA    9.2    50 0.0  0 0.0 0.0 4.5
5139    Beregis avtomobilya 1966     94     NA    9.0   241 4.5  0 4.5 4.5 4.5
44445 Sahib Bibi Aur Ghulam 1962    152     NA    9.0    76 4.5  0 4.5 4.5 0.0
       r6  r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
13598 4.5 4.5 14.5 14.5 64.5           0         0      1     0           0
5139  4.5 4.5 14.5 14.5 64.5           0         0      1     0           0
44445 4.5 4.5  4.5  4.5 74.5           0         0      1     1           0
      Romance Short decade
13598       1     0   1960
5139        1     0   1960
44445       1     0   1960
------------------------------------------------------------
df_imdb$decade: 1970
                 title year length  budget rating votes  r1  r2  r3  r4  r5  r6
47498 Sluzhebnyy roman 1977    159      NA    9.1   320 4.5 4.5 4.5 4.5 4.5 4.5
2728        Annie Hall 1977     93 4000000    8.3 21462 4.5 4.5 4.5 4.5 4.5 4.5
46570             Shor 1972    170      NA    8.3    35 0.0 0.0 0.0 0.0 0.0 0.0
        r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
47498  4.5  4.5 14.5 64.5           0         0      1     0           0
2728  14.5 14.5 24.5 34.5           0         0      1     0           0
46570  4.5 24.5 45.5 14.5           0         0      1     1           0
      Romance Short decade
47498       1     0   1970
2728        1     0   1970
46570       1     0   1970
------------------------------------------------------------
df_imdb$decade: 1980
                    title year length   budget rating votes  r1  r2  r3  r4  r5
9510      Chashme Buddoor 1981    145       NA    8.5    40 0.0 0.0 0.0 0.0 4.5
28551              Kuryer 1987     90       NA    8.2    88 0.0 0.0 0.0 4.5 4.5
41270 Princess Bride, The 1987     98 16000000    8.2 53946 4.5 4.5 4.5 4.5 4.5
       r6   r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
9510  4.5  4.5 24.5 24.5 44.5           0         0      1     0           0
28551 4.5 14.5 14.5 24.5 34.5           0         0      1     1           0
41270 4.5 14.5 14.5 24.5 34.5           0         0      1     0           0
      Romance Short decade
9510        1     0   1980
28551       1     0   1980
41270       1     0   1980
------------------------------------------------------------
df_imdb$decade: 1990
                title year length budget rating votes  r1  r2  r3  r4  r5  r6
13305 Denei shoujo Ai 1992    180     NA    8.7   157 4.5 4.5 4.5 0.0 0.0 4.5
8102               C4 1996      4     NA    8.4    48 4.5 0.0 0.0 0.0 4.5 4.5
2277  Amor & Alquimia 1995     22     NA    8.1    36 0.0 0.0 0.0 4.5 4.5 0.0
        r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
13305 14.5 14.5 14.5 45.5           0         1      1     0           0
8102  14.5  4.5 74.5  4.5           0         0      1     0           0
2277   4.5 14.5  4.5 74.5           0         0      1     0           0
      Romance Short decade
13305       1     0   1990
8102        1     1   1990
2277        1     1   1990
------------------------------------------------------------
df_imdb$decade: 2000
                                      title year length   budget rating votes
36420                      Night of the Dog 2005     86     5000    9.5    33
8890                 Casamento de Louise, O 2001     80       NA    8.8    40
16423 Eternal Sunshine of the Spotless Mind 2004    108 20000000    8.6 46240
       r1  r2  r3  r4  r5  r6   r7   r8   r9  r10 mpaa Action Animation Comedy
36420 4.5 0.0 4.5 0.0 0.0 0.0  4.5  4.5  4.5 84.5           0         0      1
8890  4.5 0.0 4.5 4.5 4.5 4.5 24.5  4.5 34.5 14.5           0         0      1
16423 4.5 4.5 4.5 4.5 4.5 4.5  4.5 14.5 24.5 44.5    R      0         0      1
      Drama Documentary Romance Short decade
36420     0           0       1     0   2000
8890      0           0       1     0   2000
16423     1           0       1     0   2000

In [36]:
sapply(best_romcoms, function(x) paste(x$title, x$rating))

     1890  1900  1910  1920                 1930
[1,] NA NA NA NA NA NA General, The 8.4     City Lights 8.5
[2,] NA NA NA NA NA NA Kid Brother, The 8.3 It Happened One Night 8.3
[3,] NA NA NA NA NA NA Safety Last! 8.2     Bringing Up Baby 8.2
     1940                1950                     1960
[1,] Enamorada 8.4       Dos tipos de cuidado 8.5 Devchata 9.2
[2,] Film ohne Titel 8.2 Singin' in the Rain 8.5  Beregis avtomobilya 9
[3,] His Girl Friday 8.2 Some Like It Hot 8.4     Sahib Bibi Aur Ghulam 9
     1970                 1980                    1990
[1,] Sluzhebnyy roman 9.1 Chashme Buddoor 8.5     Denei shoujo Ai 8.7
[2,] Annie Hall 8.3       Kuryer 8.2              C4 8.4
[3,] Shor 8.3             Princess Bride, The 8.2 Amor & Alquimia 8.1
     2000
[1,] Night of the Dog 9.5
[2,] Casamento de Louise, O 8.8
[3,] Eternal Sunshine of the Spotless Mind 8.6

In [35]:
t(sapply(best_romcoms, function(x) paste(x$title, x$rating)))

     [,1]                     [,2]
1890 NA NA                    NA NA
1900 NA NA                    NA NA
1910 NA NA                    NA NA
1920 General, The 8.4         Kid Brother, The 8.3
1930 City Lights 8.5          It Happened One Night 8.3
1940 Enamorada 8.4            Film ohne Titel 8.2
1950 Dos tipos de cuidado 8.5 Singin' in the Rain 8.5
1960 Devchata 9.2             Beregis avtomobilya 9
1970 Sluzhebnyy roman 9.1     Annie Hall 8.3
1980 Chashme Buddoor 8.5      Kuryer 8.2
1990 Denei shoujo Ai 8.7      C4 8.4
2000 Night of the Dog 9.5     Casamento de Louise, O 8.8
     [,3]
1890 NA NA
1900 NA NA
1910 NA NA
1920 Safety Last! 8.2
1930 Bringing Up Baby 8.2
1940 His Girl Friday 8.2
1950 Some Like It Hot 8.4
1960 Sahib Bibi Aur Ghulam 9
1970 Shor 8.3
1980 Princess Bride, The 8.2
1990 Amor & Alquimia 8.1
2000 Eternal Sunshine of the Spotless Mind 8.6